// =================================================
// VARIABLES
// =================================================

$grey-lighten-5: #fafafa;
$grey-lighten-4: #f5f5f5;
$grey-lighten-3: #eeeeee;
$grey-lighten-2: #e0e0e0;
$grey-lighten-1: #bdbdbd;
$grey: #9e9e9e;
$grey-darken-1: #757575;
$grey-darken-2: #616161;
$grey-darken-3: #424242;
$grey-darken-4: #212121;

$pink-lighten-1: #f290c1;
$pink-lighten-2: #ef79b4;
$pink-lighten-3: #ec63a8;
$pink-lighten-4: #e94c9b;
$pink: #e6368e;
$pink-darken-1: #e22081;
$pink-darken-2: #ce1b75;
$pink-darken-3: #b71968;
$pink-darken-4: #a0165b;


// =================================================
// UTILS
// =================================================
.txt-cente{ text-align: center; }
.white-text{ color: #FFFFFF !important; }
.bar-transparent{
    background: transparent !important;
    border-color: transparent !important;
}

// =================================================
// OVERWRITE IONIC
// =================================================
.bar-header, .bar-subheader {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none;
    border-bottom: none;
}
.bar-pink{
	background-color: $pink;
	&.darken-2{ background-color: $pink-darken-2; }
}