@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appAsDeusas\/app\/styles\/main\.scss}line{font-family:\0000330}}
.txt-cente {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appAsDeusas\/app\/styles\/main\.scss}line{font-family:\0000331}}
.white-text {
  color: #FFFFFF !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appAsDeusas\/app\/styles\/main\.scss}line{font-family:\0000332}}
.bar-transparent {
  background: transparent !important;
  border-color: transparent !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appAsDeusas\/app\/styles\/main\.scss}line{font-family:\0000340}}
.bar-header, .bar-subheader {
  border: 0px !important;
  border-bottom-color: transparent !important;
  background-image: none;
  border-bottom: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appAsDeusas\/app\/styles\/main\.scss}line{font-family:\0000346}}
.bar-pink {
  background-color: #e6368e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/douglasoliveira\/Sites\/BMC\/appAsDeusas\/app\/styles\/main\.scss}line{font-family:\0000348}}
.bar-pink.darken-2 {
  background-color: #ce1b75;
}
