<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="bar-pink white-text">
            <ion-nav-back-button class="button-clear">
                <i class="white-text mdi mdi-arrow-left"></i>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear mdi mdi-menu white-text" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-pink darken-2">
            <h1 class="title white-text">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/home"> Home </ion-item>
                <ion-item nav-clear menu-close href="#/app/sobre"> Sobre </ion-item>
                <label class="item item-input item-select">
                    <div class="input-label"> Categorias </div>
                    <select>
                        <option selected>Todas</option>
                        <option>Loiras</option>
                        <option>Morenas</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label"> Cidade </div>
                    <select>
                        <option selected>Todas</option>
                        <option>Bauru</option>
                        <option>São Paulo</option>
                    </select>
                </label>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
